.holder{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  font-style: italic;
}

.author{
    font-family: Cochin;

}

.answers{
  display: flex;
  justify-content: center;
}

.answer{
  color: green;
}

.make-answer{
  display: flex;
  justify-content: center;
}

mat-card{
  width: 500px;
}

.answer-form{
  display: flex;
  flex-direction: column;
}
