<app-navbar></app-navbar>
<div class="main">
  <div class="holder">
    <h1 class="content">{{question.content}}</h1>
    <p>Posted By: <span class="author">{{question.author}}</span></p>
    <p>{{question.created_at}}</p>
  </div>
  <div class="buttons" *ngIf="isQuestionAuthor()">
    <button mat-raised-button color="primary" (click)="editQuestion()">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteQuestion()">Delete</button>
  </div>
<hr>
<div class="make-answer">
  <div *ngIf="userHasAnswered" class="answer">You have answered!!</div>
  <div *ngIf="!userHasAnswered && showForm">
    <mat-card>
      <form [formGroup]="answerForm" class="answer-form">
        <mat-form-field>
          <mat-label>Enter Your Answer</mat-label>
          <textarea matInput formControlName="answerBody"></textarea>
        </mat-form-field>
        <mat-error *ngIf="error">{{error}}</mat-error>
        <button mat-raised-button color="primary" (click)="submitForm()">Answer</button>
      </form>
    </mat-card>
  </div>
  <div *ngIf="!userHasAnswered && !showForm">
    <button mat-raised-button (click)="showForm = true">Answer the question</button>
  </div>
</div>
</div>


<div *ngFor="let answer of answers" class="answers-class">
  <app-answer [answer]="answer" [requestUser]="requestUser" (delete)="deleteAnswer(answer)"></app-answer>
</div>
